   /*
        Failed attempt 1
        Start   3:53 PM 8/1/2019
        End     4:22 PM 8/1/2019
   Body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color:black;
    background: #ffffff;
    width: 960px;
    font-size: 18px;
    border-color: #dddddd;
    }
    Header{
        color: #ffffff;
        border-color: #cccccc;

    }
    Nav, Section, Aside, {
        background: #ebebeb;
        color:#4aaaa5;
    }
    Footer {
        background: : #666666;
    
    }
    Article {
        color: #ebebeb;
        background: #777;   
    }
    h1 {
        font-family: 'Georgia', Times, Times New Roman, serif;
    } 
    
    p {
        color: #777;
        background: #ebebeb;
    }
    */
